<div id="search-div">

  <div class="flex-container">
    <div>
      <span class="helper"></span>
      <img src="/assets/img/Main_logo.png" alt="">
    </div>
    <div>
      <div class="input-container">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Termékek keresése...">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-search" type="button">Keresés</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="icon-container">
        <mat-icon class="account-icon-display">account_box</mat-icon> &nbsp; Saját fiók
      </div>
    </div>
    <div>
      <div class="icon-container">
        <mat-icon class="account-icon-display">favorite_border</mat-icon> &nbsp; Kedvencek
      </div>
    </div>
    <div>
      <div class="icon-container">
        <mat-icon class="account-icon-display">shopping_cart</mat-icon> &nbsp; Kosár
        (0)
      </div>
    </div>
  </div>
