<div class="big-news-container">


  <div class="split left">
    <div class="centered">
      <ul class="menu-ul">
        <li *ngFor="let productCategory of productCategories"
            (mouseover)="setSubmenuDisplayTrue(productCategory.categoryId)">
          <a href="#">
            {{productCategory.categoryName}}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="split right">
    <div class="centered">
      <div  id="submenu-container" *ngIf="showSubmenuDiv">
            <div id="leftSide">
              <ul *ngFor="let subcategory of leftSideSubmenu">
                <li>
                  <a href="">
                    {{subcategory.name}}
                  </a>
                </li>
              </ul>
            </div>

            <div id="rightSide">
              <ul *ngFor="let subcategory of rightSideSubmenu">
                <li>
                  <a href="">
                    {{subcategory.name}}
                  </a>
                </li>
              </ul>
            </div>

      </div>

      <div id="image-container">

        <div class="mall-slide">
            <div class="slid-content">
                <div class="mall-show-slide" *ngFor="let item of demo_images;">
                    <img [src]="item" style="width:100%">
                </div>
                <div class="mall-carousel-ind">
                    <ul>
                        <li *ngFor="let item of demo_images; let i = index;" [class.mall-this]="startIndex - 1 === i"></li>
                    </ul>
                </div>
            </div>
        </div>
      </div>

    </div>
    
  </div>
</div>
